<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        {{!-- <header><img src="./images/image.jpg" alt="Webpage logo"></header> --}}
        {{{body}}}
    </body>
</html>